@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #ca8a04;
  --bg-secondary: #5b21b6;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow: auto;
  scrollbar-width: auto;
}

body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-thumb {
  background-color: #222; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #333; /* Color de la pista de la barra de desplazamiento */
}
strong {
  color: #bbb;
}
em {
  color: #666;
  text-shadow: 0 0 10px #000c;
  letter-spacing: -0.5px;
  padding: 0 0.3rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
} /* Estilos para la tabla */
.table-wrapper {
  overflow-x: auto;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}
.table-wrapper tr th {
  text-align: start;
  background: hsl(220, 13%, 18%);
}
.table-wrapper th,
.table-wrapper td {
  border: 1px solid #ccc;
  padding: 8px;
}
